/* Общие изменения страницы */
* {
    font-family: Comic Sans MS, Comic Sans, cursive;
}

/* Главная часть страницы */
body {
    background: white;
}

.main {
    margin-top: 100px;
    padding: 10px 50px;
    transition: margin-top 1s;
}

@media screen and (max-height: 450px) {
    .side_panel {padding-top: 15px;}
    .side_panel a {font-size: 18px;}
}

.top_panel {
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    /* border-radius: 25px;
    border: 3px solid green; */
    /* padding: 20px; */
    margin-bottom: 20px;
    position: fixed;
    background-color: #08652C;
    /* transition: height 100ms; */
}

.top_panel button {
    width: 130px;
    height: 50px;
    /* display: none; */
    background-color: #08652C;
    border: 2px;
    border-color: black;
    margin: 10px;
} 

.top_panel button:hover {
    border-radius: 5px;
    /* border: 3px solid green; */
    background-color: #80A416;
    color: white;
}

.top_panel a {
    color: #C5C764;
    font-size: 20px;
}

/* .top_panel:hover {
    height: 60px;
} */

/* .top_panel:hover button{
    display: block;
} */

/* .top_panel a:hover {
    height: 30px;
    background-color: #1e9a35;
} */

.top_panel:hover main {
    margin-top: 100px;
}

/* Нижняя панель навигации */
.contact {
    height: 100px;
    width: 97%;
    /* padding: 15px 50px; */
    /* margin-left: 10%; */
    background: rgb(3, 54, 22);
    color: rgb(201, 249, 221);
    /* border: 0px solid #000000; */
}

.contact button {
    width: 70px;
    border-radius: 10px 25px;
    margin: 5px 5px 25px 15px;
    padding: 10px 5px 10px 0px;
    background-color: rgb(220, 238, 165);
}

.contact a:hover {
    color: #e58989;
}

.panel {
    width: 240px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: height 100ms;
}

/* Панель с кнопками */
#test {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(80, 238, 149);
}

#train {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(238, 193, 80);
}

#idk {
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(238, 80, 80);
}

.panel button {
    width: 120px;
    border-radius: 10px;
    margin-left: 25px;
    background-color: rgb(80, 238, 149);
}

/* .panel:hover {
    width: 240px;
    height: 130px;
} */

.panel:hover button {
    display: block;
}

.panel button{
    border-radius: 10px;
    background: white;
    color: green;
    font-size: 20px;
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    display: none;
}

.panel button:hover {
    background-color: green;
    color: white;
}

.panels {
    display: flex;
    flex-direction: row;
}

.panels{
  padding-left: 20px;
}

.intro{
  padding-top: 70px;
  padding-left: 50px;
}

.icon {
    padding: 5px;
    border-radius: 25px;
}

#table thead th {
    background-color: #1e9a35;
}

#table tbody tr:nth-child(odd){
	background: #28c83b;
}
 
#table tbody tr:nth-child(even){
	background: #1e9a35;
}

.list {
    list-style-type: none;
}

ul.list li::before {
    content: '💲';
  }